<div class="total-revenue-container">
    <div class="card text-white bg-success mb-3">
        <div class="card-header">Total Revenue</div>
        <div class="card-body">
            <h5 class="card-title" id="total-revenue-value">£@Model.ToString("N2")</h5>
            <p class="card-text">Total revenue from sold plates</p>
        </div>
    </div>
</div>